# IDE and local files
.idea/
*.iml
local.properties
.DS_Store

# Build artifacts
build/
*/build/
captures/
.externalNativeBuild
.cxx/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Log files
*.log

# Android Studio internal files
.navigation/
assetWizardSettings.xml

# Captured screenshots
captures/
